<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254377401812-n1m2fm1fhoje5q4ng0903umr9vcqiaqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254377401812-n1m2fm1fhoje5q4ng0903umr9vcqiaqi</string>
	<key>API_KEY</key>
	<string>AIzaSyAfgzCPZE4VUPJqGeT3wWf7-w2Hady8E40</string>
	<key>GCM_SENDER_ID</key>
	<string>254377401812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thisisstreamliner.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-flutter-d9fd7</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-flutter-d9fd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254377401812:ios:37278f9a866f3d454cca41</string>
</dict>
</plist>